body{
    background-color: rgba(97, 97, 97, 0.999);
    display: flex;
    flex-direction: column;
    align-items: center;

    
    width: 80%;
    height: 60%;
}

*{
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

#BoxDiv{
    display: grid;
    grid-template-columns: repeat(80, 10px);
    

    border: 2px solid black;
    margin-bottom: 10px;
}

.Box{
    width: 10px;
    aspect-ratio: 1;
    background-color: rgb(255, 255, 255);
    user-select: none;
}